.modal-container{
    position : absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top : 0;
    left : 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    overflow: hidden;
}
.modal{
    background: #F7F7F9;
    width : 50%;
    height : 50%;
    margin: auto;
    margin-top: 10%;
    display: block;
    box-shadow: 10px 10px 8px #888888;
    max-height: 50%;
    overflow: hidden;
}
.modal-title{
    display: flex;
    justify-content: space-between;
    padding : 10px;
}
.modal-title-text{
    font-size: 2em;
}
.modal-body{
    margin : 20px;
    padding : 10px;
    height: 60%;
    background: #FFFFFF;   
    overflow: auto;
}
.close-modal{
    font-size: 1.5em;
}
